@font-face {
  font-family: "Actay";
  src: url("../../public/ActayWide-Bold.otf");
}

@font-face {
  font-family: "Regular";
  src: url("../../public/Actay-Regular.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(90.71deg, #2f2f2f 0%, #111111 98.8%);
}