@font-face {
  font-family: "Actay";
  src: url("../../public/ActayWide-Bold.otf");
}
@font-face {
  font-family: "Regular";
  src: url("../../public/Actay-Regular.otf");
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(90.71deg, #2F2F2F 0%, #111111 98.8%);
  /* background-image:
    linear-gradient(to right, transparent 49.5%, rgba(0, 0, 0, 0.1) 50%, transparent 50.5%),
    linear-gradient(to bottom, transparent 49.5%, rgba(0, 0, 0, 0.1) 50%, transparent 50.5%);
  background-size: 20px 20px; */
}